# Enregistrement de données de Formula de 2018-2024 par saison

## Importation des packages et chargement des données

In [1]:
# Importation des packages
import pandas as pd
import os

# Chargement des données
meteo_cleaned = pd.read_csv('Cleaned_Data/meteo_cleaned.csv')
courses_cleaned = pd.read_csv('Cleaned_Data/courses_cleaned.csv')
resultat_cleaned = pd.read_csv('Cleaned_Data/resultat_cleaned.csv')

# Afficher les dimensions de chaque dataset
print("Dimensions de 'meteo' :", meteo_cleaned.shape)
print("Dimensions de 'courses' :", courses_cleaned.shape)
print("Dimensions de 'resultats' :", resultat_cleaned.shape)

Dimensions de 'meteo' : (20430, 10)
Dimensions de 'courses' : (149, 7)
Dimensions de 'resultats' : (2739, 11)

## Enregistrement de données météo par saison

In [2]:
print(meteo_cleaned['Year'].unique())
meteo_cleaned.head()

[2018 2019 2020 2021 2022 2023 2024]

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed,Round Number,Year
0,0 days 00:00:57.060000,24.1,36.2,997.1,False,38.2,294,3.0,1,2018
1,0 days 00:01:57.078000,24.0,36.3,997.1,False,38.6,273,1.4,1,2018
2,0 days 00:02:57.090000,24.0,36.3,997.1,False,38.6,273,1.4,1,2018
3,0 days 00:03:57.106000,23.9,37.2,997.0,False,38.7,287,2.3,1,2018
4,0 days 00:04:57.121000,24.2,35.8,997.1,False,38.7,309,3.5,1,2018

In [3]:
years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]

output_dir = "Cleaned_Data_Saison"

# Sauvegarder les données par année
for year in years:
    # Filtrer les données pour l'année spécifique
    yearly_data = meteo_cleaned[meteo_cleaned['Year'] == year]
    
    # Chemin du fichier pour cette année
    output_file = os.path.join(output_dir, f"meteo_{year}.csv")
    
    # Sauvegarder les données dans un fichier CSV
    yearly_data.to_csv(output_file, index=False)
    print(f"Fichier sauvegardé : {output_file}")

Fichier sauvegardé : Cleaned_Data_Saison/meteo_2018.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2019.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2020.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2021.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2022.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2023.csv
Fichier sauvegardé : Cleaned_Data_Saison/meteo_2024.csv

## Enregistrement de données des courses par saison

In [4]:
print(courses_cleaned['year'].unique())
courses_cleaned.head()

[2018 2019 2020 2021 2022 2023 2024]

,raceId,year,round,circuitId,name,url,date & time
0,989,2018,1,1,Australian Grand Prix,http://en.wikipedia.org/wiki/2018_Australian_G...,2018-03-25 05:10:00
1,990,2018,2,3,Bahrain Grand Prix,http://en.wikipedia.org/wiki/2018_Bahrain_Gran...,2018-04-08 15:10:00
2,991,2018,3,17,Chinese Grand Prix,http://en.wikipedia.org/wiki/2018_Chinese_Gran...,2018-04-15 06:10:00
3,992,2018,4,73,Azerbaijan Grand Prix,http://en.wikipedia.org/wiki/2018_Azerbaijan_G...,2018-04-29 12:10:00
4,993,2018,5,4,Spanish Grand Prix,http://en.wikipedia.org/wiki/2018_Spanish_Gran...,2018-05-13 13:10:00

In [5]:
# Liste des années disponibles dans les données
years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]

# Chemin du dossier où sauvegarder les fichiers
output_dir = "Cleaned_Data_Saison"

# Créer le dossier s'il n'existe pas
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Sauvegarder les données par année
for year in years:
    # Filtrer les données pour l'année spécifique
    yearly_data = courses_cleaned[courses_cleaned['year'] == year]
    
    # Chemin du fichier pour cette année
    output_file = os.path.join(output_dir, f"courses_{year}.csv")
    
    # Sauvegarder les données dans un fichier CSV
    yearly_data.to_csv(output_file, index=False)
    print(f"Fichier sauvegardé : {output_file}")

Fichier sauvegardé : Cleaned_Data_Saison/courses_2018.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2019.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2020.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2021.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2022.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2023.csv
Fichier sauvegardé : Cleaned_Data_Saison/courses_2024.csv

## Enregistrement des resultats par saison

In [6]:
resultat_cleaned.head()

,resultId,raceId,driverId,positionOrder,points,laps,rank,statusId,time_,fastestLapTime_,fastestLapSpeed_
0,23782,989,20,1,25.0,58,4,1,0 days 01:29:33.283000,0 days 00:01:26.469000,220.782
1,23783,989,1,2,18.0,58,3,1,0 days 01:29:38.319000,0 days 00:01:26.444000,220.845
2,23784,989,8,3,15.0,58,2,1,0 days 01:29:39.592000,0 days 00:01:26.373000,221.027
3,23785,989,817,4,12.0,58,1,1,0 days 01:29:40.352000,0 days 00:01:25.945000,222.128
4,23786,989,4,5,10.0,58,7,1,0 days 01:30:01.169000,0 days 00:01:26.978000,219.489

In [7]:
# Liste des années disponibles
years = [2018, 2019, 2020, 2021, 2022, 2023, 2024]

# Chemin du dossier où sauvegarder les fichiers
output_dir = "Cleaned_Data_Saison"

# Effectuer une jointure entre les résultats et les courses sur la colonne raceId
results_with_year = pd.merge(
    resultat_cleaned, courses_cleaned, 
    how="inner", 
    left_on="raceId", 
    right_on="raceId"
)

# Sauvegarder les résultats par année
for year in years:
    # Filtrer les données pour l'année spécifique
    yearly_results = results_with_year[results_with_year['year'] == year]
    
    # Chemin du fichier pour cette année
    output_file = os.path.join(output_dir, f"results_{year}.csv")
    
    # Sauvegarder les résultats dans un fichier CSV
    yearly_results.to_csv(output_file, index=False)
    print(f"Fichier sauvegardé : {output_file}")

Fichier sauvegardé : Cleaned_Data_Saison/results_2018.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2019.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2020.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2021.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2022.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2023.csv
Fichier sauvegardé : Cleaned_Data_Saison/results_2024.csv